
.template-4 .person-member {
    display: flex;
    flex-wrap: wrap;
    height: 130px;
    align-items: center;
    justify-content: center;
}


.template-4 .person-member .card {
    height: 130px !important;
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    box-shadow: none;
}


.template-4 .card img {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 4px solid #eee;
}

.template-4 .card .info {
    margin-top: 50px;
}

.template-4 .diagonal-text {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    transform: translateX(-172%) translateY(-40%) rotate(-45deg);
    transform-origin: center;
    z-index: 1;
}

.template-4 .diagonal-text::before {
    content: "";
    display: block;
    height: 0;
    padding-top: 75%;
    overflow: hidden;
}

.template-4 .diagonal-text>span {
    display: inline-block;
    background: #000000;
    padding: 6px 40px;
    transform: translateY(-50%);
    font-size: 18px;
    text-align: center;
    color: white;
    white-space: nowrap;
}



.template-4 div.line {
    margin-top: 64px;
    width: 0px;
    border-style: solid;
    border-width: 2px 0 0;
    cursor: auto;
    padding: 0;
}

.template-4 div.line hr {
    border-style: solid;
    border-width: 5px 0 0;
}