.person-member {
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    justify-content: center;
}


.person-member .card{
    height: 70px !important;
    position: relative;
}


.diagonal-text {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    transform: translateX(-190%) translateY(-50%) rotate(-45deg);
    transform-origin: center;
    z-index: 1;
  }
  
  .diagonal-text::before {
    content: "";
    display: block;
    height: 0;
    padding-top: 100%;
  }
  
  .diagonal-text > span {
    display: inline-block;
    background: #000000;
    padding: 6px 45px;
    transform: translateY(-50%);
    font-size: 18px;
    text-align: center;
    color: white;
    white-space: nowrap;
  }

p.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.male-member {
    background-color: #00CED1 !important;
    /*background: radial-gradient(circle, #B0E0E6 0%, #00CED1 100%);*/
}

.female-member {
    background-color: #FF69B4 !important;
    /*background: radial-gradient(circle, #FFB6C1 0%, #FF69B4 100%);*/
}

div.line {
    margin-top: 34px;
    width: 2px;
    border-style: solid;
    border-width: 2px 0 0;
    cursor: auto;
}


div.line hr {
    border-style: solid;
    border-width: 5px 0 0;
}

.person-icon {
    padding-top: 3px;
    width: 40px;
    height: 30px;
}

.person-name {
    text-align: left;
    justify-content: center;
}


/* custom-modal  */

.custom-modal {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    min-width: 350px;
}

.custom-modal-body {
    position: relative
}

.custom-modal-close {
    position: absolute;
    right: -20px;
    top: -20px;
    cursor: pointer;
    z-index: 1000;
    background-color: white !important;
    opacity: 1 !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
    transition: all .15s ease .1s !important;
}
.custom-modal-close:hover {
    right: -18px;
    top: -18px;
}

.custom-modal .btn-group{
    position: absolute;
    bottom: 0;
    right: 0;
}

.tools .btn:hover{
    color:  #4B465C !important;
    background-color: white;
}


.divider .divider-text::before {
    right: 157% !important;
  
  }


  .pcr-button{
    border: 1px solid black !important;
    width: 100% !important;
  }
