.template-1 .person-member { 
    display: flex;
    flex-wrap: wrap;
    height: 70px;
    align-items: center;
    justify-content: center;
}


.template-1 .person-member .card {
    height: 70px !important;
    position: relative;
}


.template-1 .diagonal-text {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    transform: translateX(-190%) translateY(-50%) rotate(-45deg);
    transform-origin: center;
    z-index: 1;
}

.template-1 .diagonal-text::before {
    content: "";
    display: block;
    height: 0;
    padding-top: 100%;
}

.template-1 .diagonal-text>span {
    display: inline-block;
    background: #000000;
    padding: 6px 45px;
    transform: translateY(-50%);
    font-size: 18px;
    text-align: center;
    color: white;
    white-space: nowrap;
}

.template-1 p.ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Show only two lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.template-1 div.line {
    margin-top: 34px;
    width: 2px;
    border-style: solid;
    border-width: 2px 0 0;
    cursor: auto;
}

.template-1 div.line hr {
    border-style: solid;
    border-width: 5px 0 0;
}
